// font
$font-size-label: 18px;
$font-size-warning: 12px;

// border
$border-radius-input: 5px;

// color
$grey: #333333;
$green: #7a956b;
$green-hover: #49623b;
$purple: #77608d;
$purple-hover: #57426b;
$red-warning: #ff4646;
